[phases.setup]
nixPkgs = ["nodejs-20_x", "npm", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]
# Pass the DATABASE_URL environment variable to the build phase
dependsOn = ["setup", "install"]

[start]
cmd = "npm start"
